<footer class="wrapper-footer" style="background-color: #ADD8E6;">
    <div class="container wrapper-footer__content" style="padding: 50px">
        <div class="row wrapper-footer__content-top">
            <div class="col-md-4 item">
                <h4>Liên hệ</h4>
                <div class="col-1__top full left">
                    <p class="text">Tổng đài đặt hẹn: 027.7386.3699</p>
                    <p class="text">Hộp thư: thang111103@nhanai.com</p>
                </div>
            </div>
            <div class="col-md-4 item">
                <div class="col-2__bottom">
                    <h5>PHÒNG KHÁM NHÂN ÁI</h5>
                    <p class="text">613 Lê Văn Lương, Nhà Bè, TP. HCM </p>
                    <p class="text">Hotline: <span>076.8812.376</span></p>
                    <p class="text">Giờ khám: 7h30-11h30; 13h00-17h00 (Thứ 2 - 7)</p>
                </div>
            </div>

        </div>
    </div>
    <div class="container wrapper-footer__content-copyright" style="padding: 20px ">
        <div class="text-copy-right" style="text-align: center">
            Copyright © 2024 <a>Nhóm</a>
        </div>
    </div>
</footer>
